<p>
    Para maiores informações entre em contato com:</p>
<p>
    <strong>Vinicius Quaiato</strong>: vinicius.quaiato@gmail.com / <a href="http://twitter.com/vquaiato">@@vquaiato</a>
    <br />
    <strong>Victor Cavalcante</strong>: victor@cavalcante.net / <a href="http://twitter.com/vcavalcante">@@vcavalcante</a>
</p>
