<h1>
    Grade</h1>

    <ul class="menu" id="trilhas">
        <li><a href="#trilha1" title="Trilha 1">Trilha 1</a></li>
        <li><a href="#trilha2" title="Trilha 2">Trilha 2</a></li>
    </ul>
<table id="trilha1" summary="Grade MVC Summit 2011">
<caption>Trilha 1</caption>
    <thead>
        <tr>
            <th class="palestrante">
                MVC Geek
            </th>
            <th class="palestra">
                Palestra
            </th>
            <th class="centro">
                Horário
            </th>
            <th class="exibeDescricao">
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Vinicius Quaiato
            </td>
            <td>
                Dominando o ASP.NET MVC 3
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                <span></span>                
            </td>
        </tr>
         <tr class="descricaoPalestra">
            <td colspan="4">
                Está perdido com o rápido lançamento do ASP.NET MVC 3? Nesta palestra serão abordadas as principais novidades, mudanças e serão mostradas as melhorias em engenharia e práticas de desenvolvimento. Será apresentado o Razor, Global Filters, Injeção de Dependências, Output cache e muito mais.
            </td>
        </tr>
        <tr>
            <td>
                Douglas Aguiar
            </td>
            <td>
                Dê poder ao seu Modelo - DDD e ASP.NET MVC
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Para criarmos boas aplicações usando o ASP NET MVC não basta somente utilizarmos o padrão MVC, precisamos aprender varias técnicas para construirmos um bom software. Dentre estas técnicas vemos o TDD, SoC, IoC, DDD e etc. Nesta palestra veremos como utilizar o DDD(Domain Driven Design) de forma efetiva com o ASP NET MVC e veremos também o LiteFx, uma framework escrito por mim que irá nos ajudar a fazer isto.
            </td>
        </tr>
        <tr>
            <td>
                André Baltieri
            </td>
            <td>
                Validação de dados nas aplicações ASP.NET MVC
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Validar a entrada de dados das aplicações é uma peça fundamental para garantir a integridade e autenticidade das informações. O ASP.NET MVC fornece meios fáceis para esta ação, seja a validação no modelo, ou na camada de serviço, e integrado ao ADO.NET Entity Framework, isso fica ainda mais fácil. Para validações na interface, temos o jQuery que fornece praticidades tanto ao desenvolvedor quanto ao usuário. Nesta apresentação conheceremos estas diversas técnicas e suas facilidades.
            </td>
        </tr>
            
        <tr>
            <td>
                Bruno Kenj
            </td>
            <td>
                Consumindo listas do SharePoint 2010 no ASP.NET MVC com jQuery e C#
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Neste Webcast, veremos como consumir e trabalhar com listas do SharePoint 2010 utilizando ASP.NET MVC, jQuery e C#.
            </td>
        </tr>
            
        <tr>
            <td>
                Pedro Reys
            </td>
            <td>
                Hey, Controllers, hora do #DotNetEmForma!
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                É um problema de saúde comum a muitos projetos MVC a obesidade de seus Controllers. Muito em consequência de não saber ao certo seu papel, ou por inveja do Model, os Controllers acabam indo muito além de onde deveriam e ficando bem acima do peso. As consequências desse sobrepeso são sérias, indo de uma violação ao Princípio da Responsabilidade Única, passando por dificuldades de manutenção e testabilidade, chegando - em casos extremos - a uma "Big Ball of Mud". O objetivo dessa palestra é mostrar algumas técnicas e ferramentas que podem ser utilizadas para deixar os Controllers novamente sadios e em forma.
            </td>
        </tr>
            
        <tr>
            <td>
                Victor Cavalcante
            </td>
            <td>
                Web-Developer Profissional
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Você é um desenvolvedor web profissional? O que é necessário para ser considerado um desenvolvedor Web profissional? Nesta palestra serão levantados os conhecimentos necessários para o profissional se posicionar em um mercado que está longe de ser regulamentado.
            </td>
        </tr>
            
        <tr>
            <td>
                Giovanni Bassi
            </td>
            <td>
                De volta ao domínio: BDD com ASP.NET MVC 3, Razor e Cucumber
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Aprenda a testar suas aplicações ASP.NET MVC de ponta a ponta, partindo de testes de interface até chegar em testes de domínio.
            </td>
        </tr>
            
        <tr>
            <td>
                Vinicius Quaiato & Giovanni Bassi
            </td>
            <td>
                Windows Azure e ASP.NET MVC - Entenda o que muda e como fazer
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                
            </td>
        </tr>
            
    </tbody>
</table>
<table id="trilha2" summary="Grade MVC Summit 2011">
<caption>Trilha 2</caption>
    <thead>
        <tr>
            <th class="palestrante">
                MVC Geek
            </th>
            <th class="palestra">
                Palestra
            </th>
            <th class="centro">
                Horário
            </th>
            <th class="exibeDescricao">
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Vinicius Quaiato
            </td>
            <td>
                Dominando o ASP.NET MVC 3
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                <span></span>                
            </td>
        </tr>
         <tr class="descricaoPalestra">
            <td colspan="4">
                Está perdido com o rápido lançamento do ASP.NET MVC 3? Nesta palestra serão abordadas as principais novidades, mudanças e serão mostradas as melhorias em engenharia e práticas de desenvolvimento. Será apresentado o Razor, Global Filters, Injeção de Dependências, Output cache e muito mais.
            </td>
        </tr>
        <tr>
            <td>
                Alexandre Tarifa
            </td>
            <td>
                Dê poder ao seu Modelo - DDD e ASP.NET MVC
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Para criarmos boas aplicações usando o ASP NET MVC não basta somente utilizarmos o padrão MVC, precisamos aprender varias técnicas para construirmos um bom software. Dentre estas técnicas vemos o TDD, SoC, IoC, DDD e etc. Nesta palestra veremos como utilizar o DDD(Domain Driven Design) de forma efetiva com o ASP NET MVC e veremos também o LiteFx, uma framework escrito por mim que irá nos ajudar a fazer isto.
            </td>
        </tr>
        <tr>
            <td>
                Fabrício Sanches
            </td>
            <td>
                Validação de dados nas aplicações ASP.NET MVC
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Validar a entrada de dados das aplicações é uma peça fundamental para garantir a integridade e autenticidade das informações. O ASP.NET MVC fornece meios fáceis para esta ação, seja a validação no modelo, ou na camada de serviço, e integrado ao ADO.NET Entity Framework, isso fica ainda mais fácil. Para validações na interface, temos o jQuery que fornece praticidades tanto ao desenvolvedor quanto ao usuário. Nesta apresentação conheceremos estas diversas técnicas e suas facilidades.
            </td>
        </tr>
            
        <tr>
            <td>
                Cleber Dantas
            </td>
            <td>
                Consumindo listas do SharePoint 2010 no ASP.NET MVC com jQuery e C#
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Neste Webcast, veremos como consumir e trabalhar com listas do SharePoint 2010 utilizando ASP.NET MVC, jQuery e C#.
            </td>
        </tr>
            
        <tr>
            <td>
                Eduardo Cucharro
            </td>
            <td>
                Hey, Controllers, hora do #DotNetEmForma!
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                É um problema de saúde comum a muitos projetos MVC a obesidade de seus Controllers. Muito em consequência de não saber ao certo seu papel, ou por inveja do Model, os Controllers acabam indo muito além de onde deveriam e ficando bem acima do peso. As consequências desse sobrepeso são sérias, indo de uma violação ao Princípio da Responsabilidade Única, passando por dificuldades de manutenção e testabilidade, chegando - em casos extremos - a uma "Big Ball of Mud". O objetivo dessa palestra é mostrar algumas técnicas e ferramentas que podem ser utilizadas para deixar os Controllers novamente sadios e em forma.
            </td>
        </tr>
            
        <tr>
            <td>
                Victor Cavalcante
            </td>
            <td>
                Web-Developer Profissional
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Você é um desenvolvedor web profissional? O que é necessário para ser considerado um desenvolvedor Web profissional? Nesta palestra serão levantados os conhecimentos necessários para o profissional se posicionar em um mercado que está longe de ser regulamentado.
            </td>
        </tr>
            
        <tr>
            <td>
                Giovanni Bassi
            </td>
            <td>
                De volta ao domínio: BDD com ASP.NET MVC 3, Razor e Cucumber
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Aprenda a testar suas aplicações ASP.NET MVC de ponta a ponta, partindo de testes de interface até chegar em testes de domínio.
            </td>
        </tr>
            
        <tr>
            <td>
                Vinicius Quaiato & Giovanni Bassi
            </td>
            <td>
                Windows Azure e ASP.NET MVC - Entenda o que muda e como fazer
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                 <span></span>   
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                
            </td>
        </tr>
            
    </tbody>
</table>
<div class="grade">
    <p>
        <strong>Atenção! </strong>Esta é uma grade preliminar. Ela está confirmada, porém
        os horários/ordem das palestras podem ser alterados.</p>
    <p>
        Estamos ainda organizando uma segunda trilha a ser realizada paralelamente a esta
        com conteúdo apenas para iniciantes em ASP.NET MVC. Aguardem.</p>
</div>
