<h1>
    Palestrantes</h1>
<ul class="palestrantes">
    <li>
        <img src='@Url.Content("~/images/palestrantes/douglas_aguiar.jpg")' alt="Douglas Aguiar" />
        <h2>
            Douglas Aguiar</h2>
        <p>
            Douglas Aguiar é um desenvolvedor alucinado por tecnologia, atua como Líder de Desenvolvimento
            na Siteware. Se apaixonou a pouco tempo pelo ASP .NET MVC no qual dedica a maior
            parte do seu trabalho. Possui as certificações MCSD, MCTS, MCAD, MCT e PSD. É formado
            pela faculdade Fabrai no curso de Tecnologia em Processamento de Dados e aluno do
            MBA de Gestão Empresarial pelo Núcleo de Pós Graduação Pitágoras.
        </p>
    </li>
    <hr />
    <li>
        <img src='@Url.Content("~/images/palestrantes/vinicius_quaiato.jpg")' alt="Vinicius Quaiato" />
        <h2>
            Vinicius Quaiato</h2>
        <p>
            Apaixonado por desenvolvimento de software gosta de boas práticas de arquitetura
            e testes e talvez por isso goste tanto de ASP.NET MVC. Atualmente trabalho na Gonow
            Tecnologia coordenando a área de desenvolvimento em plataforma .NET. Escreve para
            a maior revista de .NET do país, mantém um blog focado em plataforma .NET e enche
            o saco no twitter.
        </p>
    </li>
</ul>
