<h1>
    Palestras</h1>
<ul class="palestras">
    <li>
        <h3>Dominando o ASP.NET MVC 3</h3>
        Vinicius Quaiato
        <p>
            Está perdido com o rápido lançamento do ASP.NET MVC 3? Nesta palestra serão abordadas
            as principais novidades, mudanças e serão mostradas as melhorias em engenharia e
            práticas de desenvolvimento. Será apresentado o Razor, Global Filters, Injeção de
            Dependências, Output cache e muito mais.
        </p>
    </li>
</ul>
